<div class="parte-cima" *ngIf="moduloService.dados_modulo">
  <div class="header-menu">
    <mat-icon class="close" (click)="fecharMenu.emit()">close</mat-icon>
  </div>
  <p class="titulo-topico center">
    {{ moduloService.dados_modulo.modulo.nome_modulo }}
  </p>
  <div class="progresso center">
    <p class="texto-progresso">Progresso:</p>
    <mat-progress-bar
      class="barra-progresso"
      mode="determinate"
      color="warn"
      this.teste
      [value]="moduloService.dados_modulo.userModulo.nota"
    ></mat-progress-bar>
    <p>{{ moduloService.dados_modulo.userModulo.nota }}%</p>
  </div>
  <p class="p-progresso">
    {{ getQuantidadeTopicosConcluidos() }} /
    {{ infoTopicos.length }} Tópicos Concluídos
  </p>
</div>

<div class="container-topicos" *ngIf="moduloService.dados_modulo">
  <div class="container-topico">
    <div
      class="topico-container"
      *ngFor="
        let topico of infoTopicos;
        index as i
      "
      [ngClass]="{
        'active-topico-container': i == this.moduloService.controll_topico,
        'disabled-link': verificarConcluido(i) == false,
        hover: verificarConcluido(i) == true
      }"
      (click)="ola(i)"
    >
      <p *ngIf="verificarConcluido(i) == false">
        {{ i + 1 }}. {{ topico.nome_topico }}
      </p>
      <p
        *ngIf="verificarConcluido(i) == true && verificaMenuHome == false"
        (click)="navegarModulo.emit(i)"
        
      >
        {{ i + 1 }}. {{ topico.nome_topico }}
      </p> 
     
      <p
        *ngIf="verificarConcluido(i) == true  && verificaMenuHome == true"
        (click)="navegarModulo.emit(i)"
        [routerLink]="['topicos']"
      >
        {{ i + 1 }}. {{ topico.nome_topico }}
      </p>
      <div class="caixa">
        <mat-icon *ngIf="topico.encerrado[0]">check</mat-icon>
      </div>
    </div>
  </div>
</div>

 <!-- topicoService.dados_topico[i].UsuarioTopicos[0].encerrado -->

<div class="outros-links" *ngIf="moduloService.dados_modulo">
  <hr
    style="
      width: 90%;
      background-color: #232324;
      margin: 0 auto;
      height: 2px;
      border: none;
    "
  />
  <h3>Links Úteis</h3>
  <div class="moodle" [routerLink]="['/modulo', moduloService.dados_modulo.modulo.nome_url ,'ficha-tecnica']" (click)="fecharMenu.emit()">
    <img
      src="../../../assets/icons/ficha.svg"
      alt="Icone para download do ebook"
      width="22px"
      height="24px"
    />
    <a  
      >Ficha Técnica</a
    >
  
  </div>
  <div class="moodle" [routerLink]="['/modulo', moduloService.dados_modulo.modulo.nome_url ,'sobre']" (click)="fecharMenu.emit()">
    <img
      src="../../../assets/icons/sobre.svg"
      alt="Icone para download do ebook"
      width="22px"
      height="24px"
    />
    <a 
      >Sobre</a
    >
  </div>
</div>
