<div class="container">
  <div class="descricao-conclusao">
      <p>Parabéns! Você concluiu o módulo com sucesso!</p>
  </div>
  <div class="descricao-modulo">
      <p>Teorias da Aprendizagem</p>
  </div>
  <div class="pontuacao">
      <p>Pontuação: 100</p>
  </div>
  <div class="avaliacao-modulo">
      <p>Como vc avalia este módulo?</p>
  </div>
  <div class="avaliacao-estrela">

    <mat-icon class="estrela">star</mat-icon>
    <mat-icon class="estrela">star</mat-icon>
    <mat-icon class="estrela">star</mat-icon>
    <mat-icon class="estrela">star</mat-icon>
    <mat-icon class="estrela">star</mat-icon>
      <!-- <span class="estrela" data-value = "1">&#9733</span>
      <span class="estrela" data-value = "2">&#9733</span>
      <span class="estrela" data-value = "3">&#9733</span>
      <span class="estrela" data-value = "4">&#9733</span>
      <span class="estrela" data-value = "5">&#9733</span> -->
  </div>

</div>

<p>modulo-concluido works!</p>
