<section class="container-foto-header-active">
  <div class="cima">
    <p class="cima-p">Conta</p>
    <mat-icon
      style="color: white; cursor: pointer"
      (click)="this.ltiService.fechaMenuUser()"
    >
      close
    </mat-icon>
  </div>
  <div class="nome">
    <div class="foto-header">
      {{ this.ltiService.dados_completos.user.nome[0] }}
    </div>
    <div class="nome-info">
      <p>{{ this.ltiService.dados_completos.user.nome }}</p>
      <p class="email">{{ this.ltiService.dados_completos.user.email }}</p>
    </div>
  </div>
  <div class="meio">
    <p>Progresso:</p>
    <mat-progress-bar
      color="warn"
      mode="determinate"
      [value]="this.ltiService.dados_completos?.userModulo?.nota"
    ></mat-progress-bar>
    <span class="progress-spinner"
      >{{ this.ltiService.dados_completos?.userModulo?.nota }}%</span
    >
  </div>
  <app-botao-voltar-ava></app-botao-voltar-ava>
</section>
