<div
class="container-foto-header-active"
>
<div class="cima">
<p class="cima-p">Perfil</p>
  <mat-icon style="color: white;cursor: pointer;" (click)="this.ltiService.fechaMenuUser()">
    keyboard_arrow_up
  </mat-icon>
</div>
<div class="nome">
  <div class="foto-header">
    {{ moduloService.dados_modulo.user.nome[0] }}
  </div>
  <p>{{ moduloService.dados_modulo.user.nome }}</p>
</div>
<div class="meio">
  <p>Progresso:</p>
  <div class="spinner">
    <mat-progress-spinner
      class="example-margin"
      mode="determinate"
      [value]=""
      style="width: 66px; height: 64px; border-radius: 40px;"
    >
    </mat-progress-spinner>
    <span class="progress-spinner"
      >{{
        this.moduloService.dados_modulo.userModulo.nota
      }}%</span
    >
  </div>
</div>
<app-botao-voltar-ava></app-botao-voltar-ava>
