


<div class="container">
  <div class="sub-header">
    <div class="voltar">
      <mat-icon>arrow_back</mat-icon>
      <p>Tópico</p>
      <div class="sub-menu mobile" (click)="abrirMenu.emit()">
        <img width="25" height="25" src="../../../../../assets/icons/sub-menu.svg" alt="icone para acessar o sub menu">
      </div>
    </div>
    <div class="titulo-topico">
      <p>{{ this.moduloService.controll_topico + 1 }}. {{ this.nome }}</p>
    </div>
    <div class="final-sub-header">
      <button>
        Próximo Tópico
        <mat-icon>arrow_forward</mat-icon>
      </button>
      <div class="sub-menu"     (click)="abrirMenu.emit()">
        <img width="25" height="25" src="../../../../../assets/icons/sub-menu.svg" alt="icone para acessar o sub menu">
      </div>
    </div>
  </div>

  <div class="container-conteudo">
    <div class="container-video">
      <app-slide-unidade
      [videos]="videos"
      style="text-align: center"
    ></app-slide-unidade>
    </div>
  </div>

</div>
