<!--Seção de botões da página inicial HOME-->
<div class="container" *ngIf="infoTopicos.length > 0">
  <section class="button-section">
    <div class="button-group">
      <button class="start-button" [ngStyle]="{'display': carregandoBotao ? 'initial' : 'none'}">
           carregando...
      </button>
      <button 
        *ngIf="verificaCompleto == false" 
        class="start-button" 
        (click)="getDadosUserInfo()" 
        [routerLink]="urlInicio"
        >
        {{ infoTopicos[0].encerrado[0] == true ? "CONTINUAR" :"INICIAR"}}
      </button>
      <button
       *ngIf="verificaCompleto == true" class="concluido"  [routerLink]="urlInicio">
        Módulo Concluído
        <mat-icon>check</mat-icon>
      </button>
      <a class="link" href="{{ moduloService.dados_modulo.modulo.ebookUrlGeral }}" target="_blank">
        <button class="download-button">
          <p>DOWNLOAD E-BOOK UNIDADE</p>
          <img
            src="../../../../assets/img/download.png"
            alt="icone de download"
          />
        </button>
      </a>
    </div>
  </section>
</div>
