<div class="main-container">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" fixedInViewport="Fixed" position="end">
      <app-menu-com-barra-progresso-teste
        (navegarModulo)="navegarModulo($event)"
        (fecharMenu)="fecharMenuClick()"
        [verificaMenuHome]="true"
      ></app-menu-com-barra-progresso-teste>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar
        class="header"
        [ngClass]="{
          'header-fixed': this.appService.controllerSwitchHome != 0
        }"
      >
        <img
          src="assets/tecnocomp.png"
          alt="Tecnocom+ LOGO"
          routerLink="./"
        />
        <nav>
          <div class="links">
            <!-- botão de navegação início -->
            <span
              class="btn-ficha"
              [ngClass]="{
          'active-topico-container': this.appService.controllerSwitchHome == 0
            }"
              routerLinkActive="active-topico-container"
              [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/modulo',  moduloService.dados_modulo.modulo.nome_url ]"
            >
              Início
            </span>
            <!-- botão de navegação ficha técnica -->
            <span
              class="btn-ficha"
              routerLinkActive="active-topico-container"
              [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/modulo', moduloService.dados_modulo.modulo.nome_url ,'ficha-tecnica']"
            >
              Ficha Técnica
            </span>
            <!-- botão de navegação sobre -->
            <span
              class="btn-ficha"
              routerLinkActive="active-topico-container"
              [routerLinkActiveOptions]="{exact: true}"
              [routerLink]="['/modulo', moduloService.dados_modulo.modulo.nome_url ,'sobre']"
            >
              Sobre
            </span>
          </div>
          <div class="end-navbar">
            <div
              *ngIf="this.appService.perfilUser == false"
              class="container-foto-header"
            >
              <div class="foto-header">
                {{ moduloService.dados_modulo.user.nome[0] }}
              </div>
              <mat-icon
                style="color: white; cursor: pointer"
                (click)="
                  this.appService.abreMenuUser(); $event.stopPropagation()
                "
              >
                keyboard_arrow_down
              </mat-icon>
            </div>
            <app-perfil-user
              *ngIf="this.appService.perfilUser == true"
            ></app-perfil-user>
            <mat-icon fontSet="material-icons" (click)="sidenav.open()" id="icon">menu</mat-icon>
          </div>
        </nav>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
