/* Fonte personalizada e estrutura inicial */
@font-face {
  font-family: minhaFonte;
  src: url("../../../assets/fonteProjeto.ttf");
}

.main-container {
  background: url("../../../assets/fundo-alternativo.png"),
    lightgray -283px -148.75px / 134.172% 160.539%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.container-pai {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.content-container {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 0 40px;
  align-items: center;
}



.imagem-acima {
  align-self: center;
  margin-bottom: 70px;
}



/* Responsividade do iframe do YouTube */
app-video-section iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* Mantém proporção padrão de vídeos */
}


/* Grid geral */
.content-container-section {
  display: grid;
  justify-content: center;
  grid-template-columns: 60% 40%;
  color: aliceblue;
}

.container-esquerdo {
  color: #faf8e6;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-direito {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-esquerdo h1 {
  text-align: center;
  font-size: 36px;
  font-family: "minhaFonte";
  padding: 20px;
}

.text-unidade {
  color: #9665df;
}
.position {
  max-width: 680px;
  width: 80%;
  margin: 40px 0 45px 0;
}

.container-download-app {
    position: fixed;
    justify-content: end;
    padding-right: 1rem;
    right: 0;
    top: 13%;
}


/* Responsividade */
@media (max-width: 1100px) {
  .content-container {
    padding: 20px;
    grid-template-columns: 55% 45%;
  }

  .button-section img {
    top: 10%;
    left: 66%;
    height: 300px;
  }

  .content-container-ficha-tecnica-inicio .images {
    display: none;
  }

  .content-container-ficha-tecnica-inicio {
    flex-direction: column;
  }

  .container-esquerdo h1 {
    font-size: 30px;
  }

  .imagem-acima {
    margin-bottom: 50px;
  }

}

@media (max-width: 899px) {
  .content-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .content-container-section {
    grid-template-columns: 1fr;
  }

  .container-esquerdo h1 {
    font-size: 24px;
    padding: 10px;
  }

  .imagem-acima {
    display: none;
  }
  .links {
    display: none;
  }
  .header nav {
    width: fit-content;
  }

}

@media (max-width: 600px) {
  .content-container {
    grid-template-columns: 1fr;
  }

  .header img {
    height: 70px;
  }

  .container-esquerdo{
    row-gap: 2rem;
  }

  .container-esquerdo h1 {
    font-size: 20px;
    padding: 10px;
  }

  .text-unidade{
    font-size: 1.5rem;
  }

  .imagem-acima {
    display: none;
  }
}

