<div class="video-container" *ngIf="!isLoading; else loading">
  <div id="player"></div>
</div>

<div class="navigation-button">
  <div class="box-navigate-left">
    <p class="navigate-p">
      {{ getVerificaVideosAssistidos() }}/{{ videos.length }} Vídeos Assistidos
    </p>
  </div>
  <div class="box-navigate-right">
    <!-- INICIO DO TESTE -->
    <mat-icon
    class="mat-18 voltar"
    (click)="this.prevPage()"
    [ngClass]="{ disabled: this.currentPage == 0 }"
  >
    arrow_back
    </mat-icon>
    <ul>
      <li
        *ngFor="let video of paginatedVideos; let i = index"
        [ngClass]="{
          naoConcluido: !video.UsuarioVideos[0].completo,
          active: ltiService.currentVideoIndex == (i + currentPage * pageSize)
        }"
        (click)="selectVideo(i + currentPage * pageSize)"
      >
        Vídeo {{ i + 1 + currentPage * pageSize }}
        <mat-icon class="concluido" *ngIf="video.UsuarioVideos[0].completo">
          check
        </mat-icon>
      </li>
    </ul>
    <!-- Controles de paginação -->
    <mat-icon 
    class="mat-18 proximo" (click)="this.nextPage()" [ngClass]="{
      disabled: this.currentPage >= this.totalPages - 1
    }"  
    >
      arrow_forward
    </mat-icon>
  </div>
</div>

<div class="transcricao">
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transcrição do vídeo {{ this.ltiService.currentVideoIndex + 1 }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</div>

<div class="box-recursos">
  <div class="box-flex">
    <p>Recursos do Tópico:</p>
    <button class="exercicio" routerLink="/">
      <img
        src="../../../assets/icons/To Do List.svg"
        alt="Ícone da seção de exercicios"
      />
      Exercício
    </button>
    <div class="botao-dois">
      <button>
        <img
          src="../../../assets/icons/slide-branco.svg"
          alt="Ícone da seção de exercicios"
        />
        Slide
      </button>
      <button>
        <img
          src="../../../assets/icons/saiba-mais.png"
          alt="Ícone da seção de exercicios"
        />
        Saiba Mais
      </button>
    </div>
    <button class="ebook-topico">
      <img
        src="../../../assets/icons/download-branco.svg"
        alt="Ícone da seção de exercicios"
      />
      E-book do Tópico
    </button>
  </div>
</div>
<div class="divisao-final">
  <hr />
  <button>
    <img
    src="../../../assets/icons/home-roxo.svg"
    alt="Ícone da seção de exercicios"
  />
    Voltar ao AVA
  </button>
</div>
<!-- Tela de carregamento -->
<ng-template #loading>
  <div class="video-container">
    <div class="loading center-2">
      <div class="spinner"></div>
    </div>
  </div>
</ng-template>
